html, body{
    height: 100%
}

body {
    font-family: "Noto Sans SC", Arial, "Microsoft Sans Serif", "Microsoft YaHei UI";
    color: #666666;
    background: #0f0f0f;
    font-size: 14px;
}

#app {
    position: relative;
    min-height: 100%;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    letter-spacing:1.5px;
    word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #000;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


a {
    font-family: "Noto Sans SC", Arial, "Microsoft Sans Serif", "Microsoft YaHei UI";
    // -webkit-font-smoothing: antialiased;
}

div.content {
    overflow: hidden;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #b47f41;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: #fff;
   &-center {
      justify-content: center;
      align-items: center;
   }
   .text {
       max-width: 497px;
       h1 {
           margin-bottom: 10px;
       }
       p {
            margin-bottom: 22px;
       }
   }
   img {
       width: 100%;
   }
   .col-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding: 15px;
   }
   .col-12 {
       width: 100%;
   }
}

.row-reverse {
    flex-direction: row-reverse;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
input[type="number"]{-moz-appearance:textfield;}

.liner-text {
    background: -webkit-linear-gradient(#f5d978, #ce9c50);
    background: linear-gradient(#f5d978, #ce9c50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}
.dark {
    background: -webkit-linear-gradient(#846029, #5F542E);
    background: linear-gradient(#846029,#5F542E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none; 
}

.title-pt {
   padding-top: 62px; 
}

@media (min-width: 768px) {
    .visible-xs {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs{
        display: none !important;
        img {
            display: none;
        }
    }
    .visible-xs{
        display: block;
    }
    .row .col-xs-12 {
         padding: 15px; 
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        width: 100%; 
    }
    .row-reverse {
        flex-direction: row;
    }
    .text {
        max-width: 497px;
        h1 {
            margin-bottom: 10px !important;
        }
        p {
             margin-bottom: 80px !important;
        }
    }
}